/*Primary Colors*/
/*Secondary Colors*/
/*Form Colors*/
/*Gradients*/
/*Transitions*/
/*Font Size*/
/*Radius*/
/*Spacing*/
/*Container*/
.bg3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.bg4 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#clinicWallSection {
  padding-bottom: 2.441rem;
}
#clinicWallSection .wallContentWrapper {
  min-height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: #fffcf6;
  background: linear-gradient(to left bottom, #fffcf6, #fffcf5, #fffbf3, #fffbf2, #fffaf0, #fff9ee, #fff8eb, #fff7e9, #fff6e5, #fff5e1, #fff4de, #fff3da);
  border-radius: 15px;
  cursor: pointer;
}
#clinicWallSection .wallContentWrapper .imageDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  min-height: 450px;
  border-radius: 15px;
  background-position: center;
}
@media (min-width: 1024px) {
  #clinicWallSection .wallContentWrapper .imageDiv {
    width: 100%;
    border-radius: 15px;
  }
}
#clinicWallSection .wallContentWrapper .imageDiv .contents {
  padding: 1rem;
  background: linear-gradient(to right top, #00aea0, #01a89a, #01a295, #029c8f, #02968a, #029186, #028d82, #02887e, #01847a, #018076, #007c73, #00786f);
  border-radius: 0 0 15px 15px;
}
@media (min-width: 768px) {
  #clinicWallSection .wallContentWrapper .imageDiv .contents {
    max-width: 630px;
    border-radius: 0 15px 15px 0;
    margin-bottom: 1rem;
  }
}
#clinicWallSection .wallContentWrapper .imageDiv .contents .title {
  margin: 0;
  font-weight: 500;
  color: #ffffff;
  white-space: nowrap;
}
#clinicWallSection .wallContentWrapper .imageDiv .contents .subHeading {
  margin: 0;
  font-weight: 300;
  color: #fdfbfa;
  margin-top: 0.5rem;
  padding-bottom: 0;
}
#clinicWallSection .solution {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#clinicWallSection .solution .title {
  margin: 0;
  font-weight: 300;
}
@media (min-width: 1024px) {
  #clinicWallSection .solution p {
    font-size: 1.125rem;
  }
}

#aboutMillenium {
  display: flex;
  justify-content: center;
}
#aboutMillenium .content {
  text-align: center;
  padding: 0 2.441rem;
}
@media (min-width: 768px) {
  #aboutMillenium .content {
    padding: 0 4.768rem;
  }
}
#aboutMillenium .content .heading {
  margin: 0;
  margin-bottom: 1rem;
  color: #0b0b0b;
  font-weight: 500;
}
#aboutMillenium .content .about {
  margin: 0;
  color: #0b0b0b;
  font-weight: 300;
}

#addressSection {
  background-color: #fffcf6;
  background: linear-gradient(to left bottom, #fffcf6, #fffcf5, #fffbf3, #fffbf2, #fffaf0, #fff9ee, #fff8eb, #fff7e9, #fff6e5, #fff5e1, #fff4de, #fff3da);
}
#addressSection .card {
  min-height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  border-radius: 15px;
  cursor: pointer;
}
#addressSection .card:hover .content .more::before {
  width: 40px;
}
#addressSection .card:nth-child(even) {
  margin-top: 2.441rem;
}
#addressSection .card .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.266rem;
  cursor: pointer;
}
@media (min-width: 1024px) {
  #addressSection .card .content {
    width: 50%;
    padding: 2.441rem;
  }
}
@media (min-width: 1280px) {
  #addressSection .card .content {
    padding: 3.052rem;
  }
}
#addressSection .card .content .contactDiv {
  color: #038e83;
}
#addressSection .card .content .contactDiv p {
  font-weight: 500;
}
#addressSection .card .content .title {
  margin: 0;
  font-weight: 300;
}
#addressSection .card .content .nexttitle {
  margin: 0;
  margin-top: 1rem;
  font-weight: 300;
}
@media (min-width: 1024px) {
  #addressSection .card .content p {
    font-size: 1.125rem;
  }
}
#addressSection .card .content ul {
  padding-left: 1.125rem;
  margin-top: 1rem;
}
#addressSection .card .content ul li {
  font-weight: 300;
  list-style: disc;
}
@media (min-width: 1024px) {
  #addressSection .card .content ul li {
    font-size: 1.125rem;
  }
}
#addressSection .card .content ul li::marker {
  color: #038e83;
}
#addressSection .card .content .more {
  display: block;
  margin-top: 1rem;
  color: #038e83;
  font-weight: 500;
  font-family: "Barlow", sans-serif;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}
@media (min-width: 1024px) {
  #addressSection .card .content .more {
    font-size: 1.424rem;
  }
}
#addressSection .card .content .more::before {
  content: "";
  width: 30px;
  height: 2px;
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 0.5rem;
  background-color: #038e83;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}
#addressSection .card .imageDiv {
  width: 100%;
  min-height: 300px;
  border-radius: 0 0 15px 15px;
}
@media (min-width: 1024px) {
  #addressSection .card .imageDiv {
    width: 50%;
    border-radius: 0 15px 15px 0;
  }
}
#addressSection .card .imageDiv .arrow {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  width: 50px;
}
@media (min-width: 1024px) {
  #addressSection .card .imageDiv .arrow {
    width: 100px;
  }
}
#addressSection .solution {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#addressSection .solution .title {
  margin: 0;
  font-weight: 300;
}
@media (min-width: 1024px) {
  #addressSection .solution p {
    font-size: 1.125rem;
  }
}

#timeSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
#timeSection .content .heading {
  margin: 0;
}
#timeSection .content .imgDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
#timeSection .content .imgDiv img {
  width: 30px;
}
@media (min-width: 768px) {
  #timeSection .content .imgDiv img {
    width: 50px;
  }
}

.mapSection {
  width: 100%;
}
.mapSection iframe {
  width: 100%;
}

#faqSection .heading {
  margin-bottom: 1.266rem;
  text-align: center;
  color: #0b0b0b;
}
#faqSection .faqListDiv {
  max-width: 1000px;
  margin: 0 auto;
}
#faqSection .faqListDiv .dropList {
  background-color: #fdfbfa;
  border: 1px solid #ebedf3;
  border-radius: 15px;
  box-shadow: rgba(33, 38, 38, 0.1) 0px 10px 10px -10px;
  margin-bottom: 1rem;
}
#faqSection .faqListDiv .dropList:hover .dropBox .title {
  color: #08998d;
}
#faqSection .faqListDiv .dropList .dropBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
@media (min-width: 768px) {
  #faqSection .faqListDiv .dropList .dropBox {
    padding: 1.266rem;
  }
}
#faqSection .faqListDiv .dropList .dropBox .title {
  margin: 0;
  color: #0b0b0b;
  font-size: 1rem;
  font-weight: 500;
}
@media (min-width: 768px) {
  #faqSection .faqListDiv .dropList .dropBox .title {
    font-size: 1.125rem;
  }
}
@media (min-width: 1024px) {
  #faqSection .faqListDiv .dropList .dropBox .title {
    font-size: 1.266rem;
  }
}
#faqSection .faqListDiv .dropList .dropBox .dropIcon {
  margin-left: 0.5rem;
  opacity: 0.5;
}
#faqSection .faqListDiv .dropList .dropBox .dropIcon img {
  width: 15px;
}
#faqSection .faqListDiv .dropList .dropContent {
  padding: 1rem;
  background-color: #ffffff;
  border-top: 1px solid #ebedf3;
}
@media (min-width: 768px) {
  #faqSection .faqListDiv .dropList .dropContent {
    padding: 1.266rem;
  }
}
#faqSection .faqListDiv .dropList .dropContent p {
  color: #0b0b0b;
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 768px) {
  #faqSection .faqListDiv .dropList .dropContent p {
    font-size: 1.125rem;
  }
}
#faqSection .faqListDiv .dropList .dropContent p:nth-child(1) {
  margin-top: 0;
}
#faqSection .faqListDiv .dropList .dropContent ul {
  padding-left: 2.441rem;
  margin-top: 1rem;
}
#faqSection .faqListDiv .dropList .dropContent ul li {
  font-weight: 300;
  list-style: disc;
}
@media (min-width: 1024px) {
  #faqSection .faqListDiv .dropList .dropContent ul li {
    font-size: 1.125rem;
  }
}
#faqSection .faqListDiv .dropList .dropContent ul li::marker {
  color: #038e83;
}

#noImgSection .contentWrapper {
  display: flex;
  flex-wrap: wrap;
  border-radius: 15px;
  cursor: pointer;
  background-color: #ffffff;
}

#noImgSection .contentWrapper:hover .content .more::before {
  width: 40px;
}

#noImgSection .contentWrapper .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.266rem;
  cursor: pointer;
}

@media (min-width: 1024px) {
  #noImgSection .contentWrapper .content {
    padding: 2.441rem;
  }
}

@media (min-width: 1280px) {
  #noImgSection .contentWrapper .content {
    padding: 3.052rem;
  }
}

#noImgSection .contentWrapper .content .title {
  margin: 0;
  font-weight: 300;
  cursor: pointer;
}

#noImgSection .contentWrapper .content ul {
  padding-left: 1.125rem;
  margin-top: 1rem;
}

#noImgSection .contentWrapper .content ul li {
  font-weight: 300;
  list-style: disc;
}

@media (min-width: 1024px) {
  #noImgSection .contentWrapper .content ul li {
    font-size: 1.125rem;
  }
}

#noImgSection .contentWrapper .content ul li::marker {
  color: #038e83;
}

#noImgSection .contentWrapper .content .more {
  display: block;
  margin-top: 1rem;
  color: #038e83;
  font-weight: 500;
  font-family: "Barlow", sans-serif;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}

#noImgSection .contentWrapper .content .more::before {
  content: "";
  width: 30px;
  height: 2px;
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 0.5rem;
  background-color: #038e83;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}

.bg2 {
  background-color: #fffcf6;
  background: linear-gradient(to left bottom, #fffcf6, #fffcf5, #fffbf3, #fffbf2, #fffaf0, #fff9ee, #fff8eb, #fff7e9, #fff6e5, #fff5e1, #fff4de, #fff3da);
}

#aboudr {
  padding-bottom: 2.441rem;
}

#aboudr .wallContentWrapper {
  min-height: 400px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 15px;
  cursor: pointer;
}

#aboudr .wallContentWrapper:hover .content .more::before {
  width: 40px;
}

#aboudr .wallContentWrapper .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 1.266rem;
  background-color: #ffffff;
}

@media (min-width: 1024px) {
  #aboudr .wallContentWrapper .content {
    width: 50%;
    padding: 2.441rem;
  }
}

@media (min-width: 1280px) {
  #aboudr .wallContentWrapper .content {
    padding: 3.052rem;
  }
}

#aboudr .wallContentWrapper .content .title {
  margin: 0;
  font-weight: 300;
}

#aboudr .wallContentWrapper .content .nexttitle {
  margin: 0;
  margin-top: 1rem;
  font-weight: 300;
}

#aboudr .wallContentWrapper .content ul {
  padding-left: 1.125rem;
  margin-top: 1rem;
}

#aboudr .wallContentWrapper .content ul li {
  font-weight: 300;
  list-style: disc;
}

@media (min-width: 1024px) {
  #aboudr .wallContentWrapper .content ul li {
    font-size: 1.125rem;
  }
}

#aboudr .wallContentWrapper .content ul li::marker {
  color: #038e83;
}

#aboudr .wallContentWrapper .content .more {
  display: block;
  margin-top: 1rem;
  color: #038e83;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}

@media (min-width: 1024px) {
  #aboudr .wallContentWrapper .content .more {
    font-size: 1.424rem;
  }
}

#aboudr .wallContentWrapper .content .more::before {
  content: "";
  width: 30px;
  height: 2px;
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 0.5rem;
  background-color: #038e83;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}

#aboudr .wallContentWrapper .imageDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 300px;
  border-radius: 15px;
  background-position: center;
  border-radius: 15px 15px 0 0;
}

@media (min-width: 568px) {
  #aboudr .wallContentWrapper .imageDiv {
    height: 360px;
  }
}
@media (min-width: 768px) {
  #aboudr .wallContentWrapper .imageDiv {
    height: 490px;
  }
}
@media (min-width: 1024px) {
  #aboudr .wallContentWrapper .imageDiv {
    width: 50%;
    min-height: 560px;
    border-radius: 15px 0 0 15px;
  }
}
